/BuildingEscape/Saved
/BuildingEscape/Intermediate
/BuildingEscape/Binaries
/BuildingEscape/Content
/BuildingEscape/.vs
/BuildingEscape/BuildingEscape.sln
/BuildingEscape/BuildingEscape.VC.VC.opendb
/BuildingEscape/BuildingEscape.VC.db
